@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: beige;
}

h1{
    color: white !important;
    border: 1px dotted #000;
    background-color: #04AA6D;
    text-align: center;
}

h2{
    font-family: "Montserrat Subrayada", sans-serif;
}

#productos{
    background-color: #04AA6D;
    font-size: 28px;
}

.blue{
    background-color: rgb(235, 93, 37) !important;
}

img{
display: block;
margin: auto;
width: 50%;
}
p{
    width: auto;
    animation-duration: 3s;
    animation-name: slidein;
    border-radius: 5%;
}
@keyframes slidein{
    from{
        margin-left: 300%;
        width: 100%
    }
    to{
        margin-left:0%;
        width:100%;
    }
}
.blue{
    
    border-radius: 5%;
   
}
img{
    animation-duration: 5s;
    animation-name: difum;
}
@keyframes difum{
    0%{opacity: 0;}
    10%{opacity:1;}
    50%{opacity:0;}
    75%{opacity:1;}
    90%{opacity:0}
}
.sup
{
    font-size: medium;
    text-align: center;
}
#secu{
    text-align: center;
}